{% if section.settings.announcement_text != blank %}
  <div class="w-full relative " id="announcement_bar">
    <div class="h-[50px] flex items-center justify-center" style="background-color: {{ section.settings.background_color }};">
      <p style="color: {{ section.settings.text_color }};">{{ section.settings.announcement_text }}</p>
    </div>

    <button id="announcement-close-btn" class="absolute right-[20px] cursor-pointer top-[50%] -translate-[50%] text-white">X</button>
  </div>
{% endif %}


<script>
  document.addEventListener('DOMContentLoaded', ()=>{
  
  const bar = document.getElementById('announcement-bar')    
  const closeBtn = document.getElementById('announcement-close-btn')
    
  if (!bar || !closeBtn) return;

  if (sessionStorage.getItem('isAnnouncementBar') === 'true'){
    bar.style.display='none'
    return
  }
    console.log('sessionStorage.getItem(isAnnouncementBar)',sessionStorage.getItem('isAnnouncementBar') );


    closeBtn.addEventListener('click', ()=>{
        bar.style.display = 'none'
        sessionStorage.setItem('isAnnouncementBar', 'true')

    })
  })



</script>

{% comment %} text edit {% endcomment %}
{% schema %}
  {
    "name": "Bar",
    "settings": [
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Enter Announcement Text",
        "default": "Get 20% off your purchase! Enter code \"20SAVINGS\" at checkout."
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Enter Bg Color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Enter Text Color",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}
