{% if section.settings.announcement-text != blank %}
  <div class="w-full relative " id="announcement-bar">
    <div class=" bg-black h-[50px] flex items-center justify-center">
      <p class="text-white">{{ section.settings.announcement-text }}</p>
    </div>

    <button id="announcement-close-btn" class="absolute right-[20px] cursor-pointer top-[50%] -translate-[50%] text-white">X</button>
  </div>
{% endif %}


<script>
  document.addEventListener('DOMContentLoaded', ()=>{
  
  const bar = document.getElementById('announcement-bar')    
  const closeBtn = document.getElementById('announcement-close-btn')
    
  if (!bar || !closeBtn) return;

  if (sessionStorage.getItem('isAnnouncementBar') === 'true'){
    bar.style.display='none'
    return
  }
    console.log('sessionStorage.getItem(isAnnouncementBar)',sessionStorage.getItem('isAnnouncementBar') );


    closeBtn.addEventListener('click', ()=>{
        bar.style.display = 'none'
        sessionStorage.setItem('isAnnouncementBar', 'true')

    })
  })



</script>


{% schema %}
  {
    "name": "Announcement Text",
    "settings": [
      {
        "type": "text",
        "id": "announcement-text",
        "label": "Enter Announcement Text",
        "default": "Get 20% off your purchase! Enter code \"20SAVINGS\" at checkout."
      }
    ]
  }
{% endschema %}
